@import "variables";
@import "signin";

.debug_border {
  border: 1px solid white;
}


* {
  margin: 0;
  padding: 0;
  color: $white;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  overflow-x: hidden;
  font-family: $lato;
  
}

body {
  background-color: $darkGrey;
  font-size: 16px;
  height: 100%;
  margin: 0;
}

.inner--default {
  max-width: 90rem;
  margin: 0 auto;
}

header {
  
  width: 100vw;
  padding: 2rem 0;
  background-color: $darkGrey;

  .header__container {
    @extend.inner--default;
    display: flex;
    justify-content: space-between;
    align-items: center;

    ul {
      display: flex;
      li {
        margin-left: 1rem;
        border-bottom: 0.063rem solid transparent;
        cursor: pointer;

        &:hover {
          border-bottom: 0.063rem solid;
          border-image-source: linear-gradient(to right, $pink, $blue);
          border-image-slice: 1;
        }
      }
    }
  }
}

.hero {
  color: white;
  text-align: center;
  padding: 20px;
  padding: 200px 200px;
  background-color: seagreen;
  margin-left: 10rem;
  margin-right: 10rem;
  border-radius: 8px;
  height: 100%;
  font-size: 2rem;
  
}

.footer__container {
  margin-top: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;

}

input {
  color: black;
}
